* {
    font-family: 'Roboto';
    padding: 0;
    margin: 0;
}

/*navbar*/
header li {
    list-style: none;
    display: inline-block;
    padding: 0 40px;
    font-size: 20px;

}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 250px;
    background-color: #012750;
    color: #ffff;
}

.logo {
    margin-right: auto;
    text-decoration: underline;
    font-size: 24px;
}

header a {
    text-decoration: none;
    color: #ffff;
}

header a:hover {
    color: #adcfe9;
}

/*first part*/
.first-part {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 40px 240px;
    background-color: #012750;
    color: #ffff;
}

.first-part img {
    width: 500px;
    height: auto;
}

ul { 
    list-style-type: none;
} 

li {
    text-decoration: none;
}

.awesome {
    margin-right: auto;
    text-align: center;
}

#line1 {
    font-size: 48px;
    font-weight: 900;
}

#line2 {
    font-size: 18px;
    margin-top: 20px;
}

#button1 {
    color: #ffff;
    background-color: #0684e4;
    font-size: 18px;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
    margin-top: 20px;
}

#button1:hover {
    background-color: #adcfe9;
    cursor: pointer;
}

/*second part*/
.bike-types img {
    width: 300px;
    height: 200px;
}

.bike-types{
    padding-top: 70px;
    display: flex; 
    justify-content: space-around; 
    
}

.second-part {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    color: #012750;
}

.second-part h1 {
    font-size: 36px;
    font-weight: 900;
}

.second-part h5 {
    font-size: 18px;
    font-weight: 800;
}


/* third*/
.third-part {
    padding-top: 100px;
    background-color: #afadad;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.third-part p {
    font-size: 29px;
    font-style: italic;
}




.bottom {
    font-weight: 800;
    align-self: flex-end;
    padding-right: 500px;
}

/* fourth*/
.fourth-part {
    background-color: #0684e4;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 20px;
    border-radius: 10px;
    color: #ffff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 40px;
    padding-left: 80px;
    padding-right: 80px;

}

#button2 {
    color: #ffff;
    background-color: #0684e4;
    border-color: #ffff;
    border-radius:10px; 
    border-style: solid;
    font-size: 20px;
    font-weight: 800;
    padding:15px;
    min-height:30px; 
    min-width: 120px;
}

#button2:hover {
    background-color: #adcfe9;
    cursor: pointer;
}

.contact-text {
    margin-right: auto;
    text-align: center;
}
/*footer*/
.footer {
    font-size: 10px;
    color: #ffff;
    background-color: #012750;
    padding: 50px;
    text-align: center;
}